<!DOCTYPE html>
<html lang="fr">
<head>
	<title>EcoleDirecte+</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='loginPage/images/icons/favicon.ico')}}"/> <!-- Change Icon -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginPage/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<a href="/" class="login100-form-title">
                    <h1>EcoleDirecte+</h1>
                </a>
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{url_for('static', filename='loginPage/images/img-01.png')}}" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="{{url_for("login")}}" method="post">
					<span class="login100-form-title">
						Connexion
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" id="identifiant" name="id" placeholder="Identifiant">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Mot de passe requis">
						<input class="input100" type="password" id="password" name="passw" placeholder="Mot de passe">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<input type="submit" value="Se connecter" class="login100-form-btn">
					</div>
				</form>
			</div>
		</div>
	</div>
		
<!--===============================================================================================-->	
	<script src="{{url_for('static', filename='loginPage/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginPage/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='loginPage/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginPage/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginPage/vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='loginPage/js/main.js')}}"></script>

</body>
</html>